@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700&family=Roboto&display=swap");
body {
  background-color: #080808;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 330px;
  margin: 0 auto;
  margin-top: 100px;
}

.component {
  background-color: #121417;
  border-radius: 10px;
  padding: 23px;
  min-height: 365px;
  max-height: 365px;
}

.star-container {
  padding-bottom: 10px;
}

.star-container img {
  padding: 15px;
  border-radius: 30px;
  background-color: #252d37;
}

.title-container .title {
  font-family: 'Overpass',sans-serif;
  font-weight: 700;
  color: white;
  font-size: 28px;
}

.texte-container .texte {
  color: #7c8798;
  font-family: 'Overass',sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}

.note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.note-container button {
  color: #7c8798;
  padding: 5%;
  width: 46px;
  border-radius: 100%;
  border: none;
  background-color: #252d37;
  font-size: 15px;
  -webkit-transition: background-color 320ms ease-in;
  transition: background-color 320ms ease-in;
}

.note-container button:hover {
  background-color: #7c8798;
  color: white;
}

.note-container button:focus {
  background-color: #fb7413;
  color: white;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}

.btn-container button {
  background-color: #fb7413;
  border: none;
  padding: 13px 120px;
  border-radius: 40px;
  color: white;
  font-family: 'Overpass',sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: background-color 330ms ease-in-out;
  transition: background-color 330ms ease-in-out;
}

.btn-container button:hover {
  background-color: white;
  color: #fb7413;
}

/**
* ? NEW STYLE SUBMITTED STATE
**/
#new-title {
  font-family: 'Overpass',sans-serif;
  font-weight: 700;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -5px;
}

.new-texte {
  color: #7c8798;
  font-family: 'Overass',sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.img-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-header img {
  margin-top: 15px;
}

.coteYouChoose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coteYouChoose .new-choose {
  margin-top: 40px;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #fb7413;
  background-color: #252d37;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */